b.description {
  width:500px;
  margin:auto;
  margin-top:20px;
  padding-bottom:10px;
  text-align:justify;
}
img.cover {
  width:125px;
  height:175px;
  margin-bottom:25px;
}
.parkingActions {
  list-style-type: none;
}

.parkingActions li {
  display: inline-block;
}

.parkingActions li a,
.parkingActions li button {
  text-decoration: none;
  padding-right: 20px;
}